<footer>
    <a href="/dinoslieux">
        <button class="boutonResponsive" type="button">les Sauropodes par continent</button>
    </a>
    <a href="/remerciements">
        <button class="boutonResponsive" type="button">remerciements</button>
    </a>
    <a href="/dinosperiodes">
        <button class="boutonResponsive" type="button">les Sauropodes par époque</button>
    </a>
</footer>
</body>

</html>