<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet" meta  charset ="UTF8"> </link>
    <title> La page dino du ptit loup </title>
</head>

<body>
    <div class="navbar">
        <button class="boutonAccueil" type="button"> Accueil
        </button>
        <button class="boutonEntrée" type="button"> Ouvrir la porte
        </button>
        <input  class ="champstexteRecherche"type= text placeHolder="entrez votre recherche" >
        <button class="boutonRecherche" type="submit"> Rechercher sur le site
        </button>
        <button class="boutonEnregistrement" type="button"> >Se logger
        </button>
        <button class="boutonInscription" type="button"> S'inscrire
            
        </button>

    </div>
