<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sauropodes</title>
    <link href="/style.css" rel="stylesheet" meta  charset ="UTF8"> </link>
   
  
</head>

<body>
    <div class="navbar">
        <a href="/">
            <button class="boutonAccueil" type="button">Accueil</button>
        </a>
        <form action="/recherche" method="get"> 
            <input class="champstexteRecherche" type="text" name="searchTerm" placeholder="Entrez votre recherche">
            <button class="boutonRecherche" type="submit">Rechercher sur le site</button>
        </form>
        <a href="/login">
            <button class="boutonEnregistrement" type="button">Se logger</button>
        </a>
        <a href="/signup">
            <button class="boutonInscription" type="button">S'inscrire</button>
        </a>
        <a href="/Alldinos">
            <button class="boutonInscription" type="button">Liste de nos Sauropodes</button>
            </a>
    </div>
</body>

</html>