<%- include('partials/header') %>
<h1> 404 ! Vous entendez un grondement derrière vous ! </h1>


<img src="https://planet-terre.ens-lyon.fr/planetterre/objets/Images/Img312/312-traces-dinosaure-sauropode-Plagne-17.jpg" alt="une image 404 ayant pour thème deux sauropodes de part et d'autre d'une route où passent des voitures">




