<%- include('partials/header') %>

    <h1> Bienvenue sur ce site consacré aux Sauropodes</h1>

<p> Depuis ma plus tendre enfance, j'aime les créatures préhistoriques mais j'ai toujours eu de l'affection pour les sauropodes.</p>
<p> Je vous propose ici de bien comprendre ce qu'est réellement un sauropode de façon simple car peu de gens réalisent vraiment ce qu'est un sauropode</p>
<a href="/AllDinos">liste des dinosaures</a>



<%- include('partials/footer') %>
</body>

</html>