<%- include('partials/header') %>


<body>
  
        <h1> Comment utiliser ce site ?</h1>
    <p> Vous pensez bien connaître les sauropodes ? Ou alors vous vous dites que si vous savez que ce sont de gros animaux 
    avec un long cou, il n'y a rien de plus à savoir mis à part des détails qui n'interessent que les scientifiques ?
    Et bien détrompez vous, les différences entre les diverses catégories et espèces de Sauropodes sont très variées et les 
    points d'interrogations restent très nombreux. Ce que je dis là est évidemment valable pour toutes les espèces animales
    et je n'exclus pas de faire un site similaires pour d'autres animaux préhistoriques</p>
    
    <p>Si pour vous, les notions de jurassique, Crétacé, Pangée et autres sont très claires je vous invite à regarder les 4 images
    ci dessous, vous avez là 4 images des 4 grands types de sauropodes.
    vous pouvez cliquer sur les images pour avoir les caractéristiques de ces grandes fammilles et cliquer sur les listes
    présentées dessous pour avoir une liste quasi exhaustives des sauropodes de la famille choisie.
    un petit peu plus bas, je vous invite également à regarder où ces sauropodes ont été découverts.</p>
    
     
    

  
    <div class="image-row">
        <div class="image">
            <h2>Les Diplodocidés</h2>
            <img src="https://i1.wp.com/www.differencebetween.com/wp-content/uploads/2018/05/Difference-Between-Brontosaurus-and-Diplodocus_Figure-2.jpg?w=800&ssl=1" alt="une image de diplodocus">
            <a href="#">Liste des Diplodocidés</a>
        </div>
        <div class="image">
            <h2>Les Brachiosauridés</h2>
            <img src="https://cdn.mos.cms.futurecdn.net/eeLrc7ZAoXVBveu4M8BhpS.jpg" alt="une image de brachiosaurus">
            <a href="#">Liste des Brachiosauridés</a>
        </div>
        <div class="image">
            <h2>Les Titanosauridés</h2> 
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Argentinosaurus_BW.jpg/800px-Argentinosaurus_BW.jpg" alt="une image d'Argentinosaurus">
            <a href="#">Liste des Titanosauridés</a>
        </div> 
        <div class="image">
            <h2>Les Rebbachisoridés</h2> 
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Nigersaurus_BW.jpg/640px-Nigersaurus_BW.jpg" alt="une image de Nigersaurus_BW">
            <a href="#">Liste des rebbachisoridés</a>
        </div> 
    </div>

     </div> 

        
    

  
    <div class="full-width-text">
        <p>Plus de texte qui prend toute la largeur ici.</p>
    </div>
  
</div>


<p>Bienvenue sur ce site.
Comme indiqué sur ma page d'accueil, j'aime beaucoup les sauropodes et j'ai toujours déploré que le large public 
en ait une vision très tronquée. Cette vision tronquée ne concerne pas que les sauropodes d'ailleurs mais l'ensemble
des créatures préhistoriques. Les explications sont multiples et je n'aurai jamais la prétention de les connaître toutes.
Il y a cepdnant des indices qui me laisse penser que je peux en connaître quelques unes.
En premier lieu, Nous parlons d'animaux dispaus depuis longtemps et que les scientifiques connaissent pas si bien que ça 
Il faut donc comprendre que, en quelques années, l'etat desc onnaissances évolue très rapidement, ce qui n'aide pas le grand
public à rester sur une connaissance solide.
preuve en est le fait que els dinosaures les plus connus, sont ceux qui ont été découverts dans les années etc etc etc
</p>

<p>
    le site va s'organiser de la façon suivante : 

    petit aperçu historique pour bien comprendre comment utiliser ce site
    <a> lien vers le mode d'emploi</a>

  

    Vous pouvez aussi trouver une liste des sauropodes par région du globe ici : 

    Afrique
    Amérique du Nord
    Amérique du sud
    Asie
    Australie
    Europe
<%- include('partials/footer') %>
</body>
</html>


    

</p>