<%- include('partials/header') %>

    <h1> Bienvenue sur ce site consacré aux Sauropodes</h1>
    <div class="container">
        <div class="column">
            <img src="https://www.jurassic-world.com/wp-content/uploads/2006/10/fiches_brachiosaure_brachiosaure.jpg"
                alt="une image représentant un brachiosaure qui regarde vers l'arrière">
        </div>
        <div class="column">
            <p>Depuis ma plus tendre enfance, j'aime les créatures préhistoriques mais j'ai toujours eu de l'affection
                pour les sauropodes. Je vous propose ici de bien comprendre ce qu'est réellement un sauropode de façon
                simple car peu de gens réalisent vraiment ce qu'est un sauropode</p>
            <a href="/accueil2">
                <button class="boutonEntrée" type="button">Ouvrir la porte et entrer</button>
            </a>
        </div>
    </div>

    <%- include('partials/footer') %>