<%- include('partials/header') %>


<h1> Vous avez réussi un pas de géant</h1>

<p>Vous avez bien été enregistré comme utilisateur du site.
N'hésitez pas à vous connecter pour avoir plein de fonctionnalités en plus en tant que membre
le texte reste évidemment à déterminer</p>