<%- include('partials/header') %>

<h1>Connexion</h1>
<div class="loginimg">
    <img src="https://parlonssciences.ca/sites/default/files/2020-01/brachiosaurus_and_person_1.png" alt="un brachiosaurus et un humain qui se regardent">
</div>
    <form method="POST" action="/login" class="login">
        <label for="email">Adresse E-mail :</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>

        <button class="boutonAccueil" type="submit">Se connecter</button>
    </form>
</body>

<%- include('partials/footer') %>







