<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<H1> L'allosaure vous attrapera si vous ne vous connectez pas</H1>

<form class="#" method = "POST">
<label class ="form-control h4" for = "firstname">Prénom</label>
<input class ="form-control mb-4" type="firstname" id="firstname"name="firstname" placeholder="Prénom"

<label class ="form-control h4" for = "lastname">Nom</label>
<input class ="form-control mb-4" type="lastname" id="lastname"name="lastname" placeholder="Nom"

<label class ="form-control h4" for = "email">Email</label>
<input class ="form-control mb-4" type="email" id="email"name="email" placeholder="Email"

<label class ="form-control h4" for = "password">Mot de passe</label>
<input class ="form-control mb-4" type="password" id="password"name="password" placeholder="******"

<label class ="form-control h4" for = "password">Mot de passe</label>
<input class ="form-control mb-4" type="password" id="password"name="password" placeholder="******"

</form>




</body>
</html>